
{% extends "main/base.html" %}
{% load static %}

{% block extra_head %}

  <link rel="stylesheet" href="{% static 'main/css/pages/discover.css' %}">

{% endblock %}
{% block content %}

<div class="discover-page">
  <section class="discover-hero">
    <h1 class="discover-title">Discover the best events near you</h1>
    <p class="discover-subtitle">Explore top events and book with ease</p>
          {% include "main/components/search_bar.html" %}
  </section>

  <hr class="discover-divider">

  <section class="discover-section">
    <div id="discover-results">
      {% include "main/events/discover_results.html" %}
    </div>
  </section>
</div>

<script>
  $(document).ready(function () {
    $("#discover-search-form").on("submit", function (e) {
      e.preventDefault();

      const form = $(this);
      const url = form.attr("action");
      const data = form.serialize();

      $.ajax({
        url: url,
        type: "GET",
        data: data,
        headers: {
          "X-Requested-With": "XMLHttpRequest"
        },
        success: function (response) {
          $("#discover-results").html(response);

        },
        error: function () {
          alert("Search failed | Please try again.");
        }
      });
    });
  });
</script>

{% endblock %}