{% extends "main/base.html" %}

{% block title %}Sign Up - Bookr{% endblock %}
{% load static %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/pages/register_choose.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<body>

    <div class="login-wrapper">
        <div class="login-right">
            <div class="login-box">
                <h1>Create an Account</h1>
                <p class="subtitle">Choose how you want to use Bookr</p>

                <div class="account-type-cards">
                    <a href="{% url 'register' 'customer' %}" class="type-card">
                        <div class="type-title">Customer</div>
                        <div class="type-desc">Discover and book events near you</div>
                    </a>
                    <a href="{% url 'register' 'business' %}" class="type-card">
                        <div class="type-title">Business</div>
                        <div class="type-desc">Create and manage your own events</div>
                    </a>
                </div>

                <div class="signup-link">
                    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
